<form action="/payment/results">
  <label for="APR">Enter a number</label>
  <div>
  <input type="text" id="APR" name="apr_input" placeholder="E.g. 5.42">
  </div>
	
<label for="Number of years">Enter a number</label>
  <div>
  <input type="text" id="Number of years" name="years_input" placeholder="How many years to repay?">
  </div>

<label for="Principal">Enter a number</label>
  <div>
  <input type="text" id=Principal" name="principal_input" placeholder="How much principal?">
  </div>

  <div>
  <button>Calculate monthly payment</button>
  </div>
</form>
