<form action="/payment/results">
  <label for="apr">Enter a number</label>
  <div>
  <input type="text" id="apr" name="apr_input" placeholder="E.g. 5.42">
  </div>
	
<label for="years">Enter a number</label>
  <div>
  <input type="text" id="years" name="years_input" placeholder="How many years to repay?">
  </div>

<label for="principal">Enter a number</label>
  <div>
  <input type="text" id="principal" name="principal_input" placeholder="How much principal?">
  </div>

  <div>
  <button>Calculate monthly payment</button>
  </div>
</form>
