<form action="/payment/results">
  <div>
  <label for="apr">APR</label>
  <input type="text" id="apr" name="apr_input" placeholder="E.g. 5.42">
	</div>

<div>
<label for="years">Number of years</label>
<input type="text" id="years" name="years_input" placeholder="How many years to repay?">
</div>

<div>
<label for="principal">Principal</label>
<input type="text" id="principal" name="principal_input" placeholder="How much principal?">
</div>

<div>
<button>Calculate monthly payment</button>
</div>
  
</form>
