<h1>Square Root Results</h1>
<dl>
<dt>Number</dt>
<dd><%=@input_number%></dd>
<dt>Square Root</dt>
<dd><%=@square_rooted.round(3)%></dd>
</dl>
<div>
<a href="/square_root/new">Calculate another square root</a>
</div>
